// app global css in SCSS form
.background{
  background-image: url("assets/h5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}

.containssvg svg {
  max-width: 40px;

}
.containssvg{
  transform: translate(-50%, -50%);
  position: absolute;
  right: 0px;
  top: 50%;
}
